*{
  font-family: 'Space Mono', monospace;
}

body {
  height: auto;
  width: 100vw;
  background-color: rgb(49, 0, 68);
  overflow-x: hidden;
}

nav {
  background-color: rgb(149, 45, 149);
  padding: 20px;
}

#left,#right{
  position: fixed;
  top: 48%;
  color: rgb(149, 45, 149);
}

#left:hover, #right:hover{
  cursor: pointer;
}

#left{
  left: 3px;
}
#right{
  right: 3px
}

button{
  width: 130px
}

#container {
  margin-top: 100px;
}

#placeholder {
position: relative;
top: 400px;
}

.btn-dark {
  background-color: rgb(49, 0, 68);
}

.btn-dark:hover {
  background-color: rgb(34, 0, 34);
}

a {
  text-decoration: none;
  color: rgb(255, 123, 0);
}

a:hover {
  color: rgb(236, 69, 236);
}

h3 {
  color: rgb(255, 123, 0);

}
section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}

section > img {
  object-fit: cover;
  height: 225px;
  width: 225px;
  margin: 15px;
  border-radius: 15px;
  /* border-bottom: groove white 10px; */
  /* border-left: groove white 5px; */
  flex: 1 0 auto;
  transition: box-shadow 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  /* transition: flex 0.35s cubic-bezier(0.61, -0.19, 0.35, -0.11); */
  /* border: solid rgb(64, 65, 37) 4px; */
}

.hovered {
  transform: scale(1.2);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.9);
  cursor: pointer;
}

#modal-wrapper {
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  max-width: 100%;

  background-color: rgba(0, 0, 0, 0.678);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#modal {
  background-color: rgb(255, 255, 255);
  padding: 50px;
  border: solid rgb(116, 0, 116) 20px;
  border-radius: 10px;
  display: flex;
  max-width: 100%;
  max-height: 80%;

  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#modal > a{

  max-width: 80%;
  max-height: 80%;
}

#modal > a > img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.9);
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#modal > a > img:hover {
  box-shadow: 5px 5px 15px 5px #000000;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
}

#modal > button {
  align-self: flex-end;
  color: rgb(255, 255, 255);
  background-color: rgb(20, 0, 53);
  border-radius: 12px;
  padding: 10px;
}

.modal-inact {
  display: none;
  background-color: rgba(255, 255, 255, 0);
}
